nav {
  background-color: #1d1a1d;
  justify-content:button;
  color: #48e4df58;
  height: 70px;
  width: 100%;
  border-top: 1px solid #9d90c3;
  border-bottom: 1px solid #000000;
  overflow: hidden;
  padding: 10px;
  
}
image {
  align-self: center;
}

body {
  align-content: center;
  align-content: space-around;
  background-color: rgb(204, 203, 203);
}

ul {
  list-style-type: armenian;
  margin: 30px;
  padding: 0;
}

li {
  display: list-item;
  align-items: center;
}

a {
  color: #eff4f6;
  text-decoration: none;
  font-size: x-large;
}
img {
  width: 70%;
  height: auto;
  align-self: center;
}
