nav {
  background-color: #1b08ee;
  color: #d2d2d2;
  height: 70px;
  width: 100%;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  overflow: hidden;
  justify-content: space-between;
}

body {
  align-self: center;
  align-content: space-around;
  background-color: rgb(204, 203, 203);
}

ul {
  list-style-type: armenian;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  align-items: center;
}

a {
  color: #eff4f6;
  text-decoration: none;
  font-size: x-large;
}
img {
  width: 70%;
  height: auto;
  align-self: center;
}
