nav {
  background-color: #130313;
  color: #48e4df58;
  height: auto;
  width: 30%;
  border-top: 10% solid #9d90c3;
  border-bottom: 1px solid #000000;
  overflow: auto;
  padding-left: 35%;
  padding-right: 35%;
  overflow: auto;
  position: fixed;
  align-content: space-between;
  align-items: flex-end;
}
image {
  align-self: center;
}

body {
  align-content: center;
  align-content: space-around;
}

ul {
  list-style-type: armenian;
  padding-top: 5%;
  width: 90%;

}

li {
  display: list-item;
  columns: 2;
}

a {
  color: #e9e2e2;
  text-decoration:overline;
  font-size: x-large;
  ;
  
}
img {
  width: 60%;
  height: auto;
  align-self: center;
  padding-left: 20%;
}
div:home {
  padding-top: 100px;
}
div #memelist {
  width: 90%;
  padding-left: 5%;
}
div #home {
  width: 90%;
  padding-left: 5%;
}
h3,p {
  width: 90%;
  padding-left: 5%;

}